@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100&family=Prompt:wght@300;400;500&display=swap');

/* Set default style for webpage */
html {
    box-sizing: border-box;
}

* {
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

/* Main Styling for Webpage Below */
body {
    background-color: #FFFFFF;
}

.header {
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}

.menuBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5% 0rem;
    background-color: #212121;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 1.4%;
    margin-left: 10%;
    margin-right: 8%;
}

.logo {
    width: 3rem;
    height: 3rem;
    margin-right: 1.3%;
}

nav {
    width: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 35%;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: #3C6E71;
}

/* main section now */
.about {
    width: 100%;
    background-image: url(../pictures/kazuo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 98vh;
    background-color: #212121;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98vh;
    width: 100%;
}

.intro {
    height: 25rem;
    width: 25rem;
    max-width: 100%;
    overflow: hidden;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 0%;
}

.intro h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.intro h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 4.2rem;
    margin-bottom: 1rem;
}

.intro h5 {
    font-family: SF Pro Display, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    color: #D9D9D9;
    text-shadow: 1px 1px #212121;
}

.portrait img {
    height: 80%;
    width: 80%;
    max-width: 100%;
    overflow: hidden;
}

.about-me {
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0% 8%;
}

.about-me img {
    overflow: hidden;
    max-width: 100%;
    height: 70%;
    width: 45%;
    border-radius: 5%;
}

.about-me-description {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.about-me-description h2{
    color: #284B63;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
}

.about-me-description p {
    color: #353535;
}

.skills-container {
    width: 100%;
    /* height: 50vh; */
    background-color: #f7f7f7;
}
.skills {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0% 10%;
    padding-bottom: 5%;
}

.skills h2, .projects-container h2 {
    color: #353535;
    text-align: center;
    font-size: 2rem;
    margin-top: 4%;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}

.bar-graph {
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bar-container h5 {
    color: #284B63;
    font-size: .7rem;
    text-transform: uppercase;
}

.bar-container h5:first-child {
    width: 12%;
    text-align: right;
}

.results-bar {
    margin: 2.5%;
    background-color: #3C6E71;
    padding: 0.3rem 0rem;
    text-align: center;
    border-radius: 0.2rem;
    height: .5px;
}

[skill-lang=python] {width: 80%;}
[skill-lang=javascript] {width: 70%;}
[skill-lang=java] {width: 45%;}
[skill-lang=c] {width: 40%;}
[skill-lang=github] {width: 55%;}
[skill-lang=html] {width: 80%;}

.percent {
    width: 5%;
    text-align: left;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
    margin-bottom: 4%;
}

.projects-container h2 {
    width: 100%;
}

.projectDescription {
    width: 30%;
    margin: 1rem 2rem;
    border-radius: .9rem;
    box-shadow: 4px 5px 3px #262626;
}

.projectDescription a {
    border-radius: 0.4rem;
}

.projectDescription img {
    max-width: 100%;
    display: block;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

.projectDescription h3 {
    max-width: 100%;
    font-size: 90%;
    color: #FFFFFF;
    text-align: center;
    background-color: #3C6E71;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    height: 12%;
}

.contact-me {
    display: flex;
    justify-content: space-around;
    /* height: 25vh; */
    background-color: #f7f7f7;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 2%;
}

.contact-me h3 
{
    color: #353535;
    width: 30%;
    padding-top: 3%;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding-left: 20%;
}

.form input, .form textarea {
    width: 70%;
    border: 2px solid #353535;
    color: #353535;
}

.name-entry, .email {
    height: 12%;
}

.name-entry input, .email input {
    height: 100%;
    border-radius: .5rem;
    padding-left: 2%;
}

.form textarea {
    height: 90px;
    border-radius: .5rem;
    padding-left: 2%;
}

.form > * {
    margin-bottom: 5%;
}

.button {
    width: 90px;
    height: 35px;
}

.button input {
    background-color: #284B63;
    border: none;
    border-radius: .8rem;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
}

.message-container {
    height: 50%;
}

footer {
    background-color: #212121;
    width: 100%;
}

.footerInfo {
    padding: 1.2% 0%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.footerInfo li {
    margin: 0% 2%;
    list-style: none;
}

footer img {
    height: 35px;
    width: 35px;
}

@media screen and (max-width: 830px) {
    .header {
        width: 100%;
    }

    .menuBar {
        width: 100%;
    }

    .menu-container {
        flex-direction: column;
        margin: 0% 5%;
    }

    .menu-container img {
        margin: 0;
    }

    nav {
        margin: 0;
        margin-top: 3%;
    }

    nav a {
        font-size: 1rem;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 14%
    }

    .intro {
        padding-top: 5%;
        padding-bottom: 0%;
        margin: 0%;
        height: 20rem;
    }

    .intro h2 {
        font-size: 3.8rem;
    }

    .intro h5 {
        font-size: 1.2rem;
    }

    .portrait img {
        height: 85%;
        width: 85%;
        max-width: 100%;
        overflow: hidden;
    }

    .about-me {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin: 4% 8%;
    }

    .about-me-description {
        width: 90%;
    }

    .about-me img {
        height: 250px;
        width: 275px;
        margin: 5% 0%;
    }

    .about-me-description h2 {
        font-size: 1.7rem;
    }

    .about-me-description h2, .about-me-description p {
        text-align: center;
    }

    .skills {
        margin: 0% 2%;
    }

    .skills h2, .projects-container h2 {
        font-size: 1.5rem;
    }

    .bar-container h5 {
        font-size: .5rem;
    }
    
    .results-bar {
        margin: 2.5%;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projectDescription {
        height: 100%;
        width: 40%;
    }

    .projectDescription h3 {
        font-size: .8rem;
        height: 25px;
        padding-top: 3%;
    }

    .contact-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-me h3 {
        padding: 0%;
        margin-bottom: 5%;
    }

    .form {
        padding: 0%;
    }

    .form input, .form textarea {
        width: 100%;
    }

}